h1 {
	color:black;
	font-family:  "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2 {
	color:black;
	font-family:  "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h3 {
	color:black;
	font-family:  "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

p {
	color:black;
	font-family:  "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body {
	color:black;
	font-family:  "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-color:white;
}

/* Separate table rows a little bit on mobile, news.  */
#news {
	border-collapse: separate;
	/* First: Horizontal spacing; Second: Vertical spacing. */
    border-spacing: 0 12px;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;

}

/* visited link */
a:visited {
    color: black;
	text-decoration: none;
}

/* mouse over link */
a:hover {
    color: grey;
	text-decoration: none;
}

/* active link */
a:active {
    color: black;
	text-decoration: none;
}

/* Title Bar */
/* Thanks to Marko on Stack Overflow for the code! http://bit.ly/2CDue3f */

#toolbar {
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    padding: 5px 5px; /* some styling */
    background-color: white; /* some styling */
    border-bottom: 1px dotted black; /* some styling */
	border-top: 1px dotted black;
}


/* Links in contacts */
#contactlinks {
	font-size: 18px;
	
}

